<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="font-bold text-4xl">Processos</h1>
      <p class="mt-2 text-sm text-gray-700">Uma lista com todos processos.</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <%= link_to "Novo Processo", new_lawsuit_path, class: "block rounded-md bg-cyan-950 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-cyan-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-300" %>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <% if current_user.role == 'super_admin' %>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Cliente</th>
              <% end %>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Criado em</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Alias</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Tipo</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Empresas Associadas</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Criado por</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></th>              
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <% @lawsuits.each do |lawsuit| %>
                <tr>
                  <% if current_user.role == 'super_admin' %>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= lawsuit.tenancy.name %></td>
                  <% end %>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= lawsuit.created_at.strftime('%d/%m/%Y - %H:%M:%S') %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= lawsuit.alias %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= lawsuit.type_of.humanize %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= lawsuit.companies.present? ? lawsuit.companies.pluck(:legal_name).join(', ') : 'Sem associações' %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= lawsuit.created_by ? User.find(lawsuit.created_by).email : 'Desconhecido' %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <%= link_to "Show", lawsuit_path(lawsuit), class:"text-indigo-600 hover:text-indigo-900" %>
                    <%= link_to "Edit", edit_lawsuit_path(lawsuit), class:"text-indigo-600 hover:text-indigo-900 mx-2" %>
                  </td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
