<div>
  <h1 class="font-bold text-4xl">Painel de Controle</h1>
</div>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-6">

  <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow mt-6">
    <div class="px-4 py-5 sm:px-6 bg-cyan-950">
      <div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
        <div class="ml-4 mt-2 flex gap-4 items-center">
          <h3 class="text-base font-semibold leading-6 text-slate-200">Últimos Informes Publicados</h3><%= link_to "Ver todos", reports_path, class:"text-sm text-slate-200" %>
        </div>
        <div class="ml-4 mt-2 flex-shrink-0">
          <%= link_to new_report_path, class:"rounded-full bg-teal-400 p-1 text-white shadow-sm hover:bg-teal-600 block" do %>
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
            </svg>
          <% end %>
        </div>
      </div>
    </div>
    <div class="px-4 py-5 sm:p-6">
      <%= render 'last_reports' %>
    </div>
  </div>

  <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow mt-6">
    <div class="px-4 py-5 sm:px-6 bg-cyan-950">
      <div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
        <div class="ml-4 mt-2 flex gap-4 items-center">
          <h3 class="text-base font-semibold leading-6 text-slate-200">Últimos Processos</h3><%= link_to "Ver todos", lawsuits_path, class:"text-sm text-slate-200" %>
        </div>
        <div class="ml-4 mt-2 flex-shrink-0">
          <%= link_to new_lawsuit_path, class:"rounded-full bg-teal-400 p-1 text-white shadow-sm hover:bg-teal-600 block" do %>
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
            </svg>
          <% end %>
        </div>
      </div>
    </div>
    <div class="px-4 py-5 sm:p-6">
      <%= render 'last_lawsuits' %>
    </div>
  </div>

  <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow mt-6">
    <div class="px-4 py-5 sm:px-6 bg-cyan-950">
      <div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
        <div class="ml-4 mt-2 flex gap-4 items-center">
          <h3 class="text-base font-semibold leading-6 text-slate-200">Últimas Empresas</h3><%= link_to "Ver todas", companies_path, class:"text-sm text-slate-200" %>
        </div>
        <div class="ml-4 mt-2 flex-shrink-0">
          <%= link_to new_company_path, class:"rounded-full bg-teal-400 p-1 text-white shadow-sm hover:bg-teal-600 block" do %>
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
            </svg>
          <% end %>
        </div>
      </div>
    </div>
    <div class="px-4 py-5 sm:p-6">
      <%= render 'last_companies' %>
    </div>
  </div>

</div>
